@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/breakpoint" as *;

@use "@carbon/react/scss/colors";

.loan-details__heading {
  @include type-style("heading-02");

  text-align: center;
}

.loan-details__heading a {
  text-decoration: none;
  color: colors.$gray-100;
  cursor: pointer;
}

.loan-details__tag_container {
  display: flex;
  justify-content: center;
}

.loan-details__label {
  margin-top: $spacing-04;
  flex-grow: 1; // fill space so icons are bottom aligned
  @include type-style("body-long-01");

  font-weight: bold;
  color: colors.$gray-30;
  text-align: center;
}

.loan-details__amounts {
  text-align: center;
}

.loan-details__payment_date {
  flex-grow: 1; // fill space so icons are bottom aligned
  @include type-style("body-long-01");

  font-weight: bold;
  color: colors.$gray-50;
  margin-bottom: $spacing-04;
  text-align: center;
}

.loan-details__payment_amount {
  flex-grow: 1; // fill space so icons are bottom aligned
  @include type-style("body-long-01");

  font-weight: bold;
  color: colors.$green-50;
  margin-bottom: $spacing-04;
  text-align: center;
}

.loan-details__payment_button_container {
  display: flex;
  justify-content: center;
}
