@use "./components/AppHeader/app-header";
@use "./components/Info/info";
@use "./components/LoanCard/loan-card";

@use "./modules/main/views/Landing/landing";
@use "./modules/loan/views/LoanDetails/loan-details";
@use "./modules/user/views/Profile/profile";
